    <footer class="footer">
      <div class="container-fluid">
        <p class="text-center footer-text"><a href="mailto:teamcassie@cassieapp.com">CASSIE Innovations, Corp.</a> | 2015</p>
        <p class="text-center" id="social-footer">
        <a href="https://twitter.com/CassieMobileApp" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.facebook.com/cassiemobileapp" target="_blank" id="icons2"><i class="fa fa-facebook-square"></i></a>
        <a href="https://instagram.com/cassie_app/" target="_blank" id="icons2"><i class="fa fa-instagram"></i></a>
        <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fcassieinnovations.com&media=http%3A%2F%2Fcassieinnovations.com%2Fstatic%2Fimages%2Fcassieoverview.png&description=Start%20forecasting%20now%20to%20get%20to%20the%20top%20of%20the%20leadeboard!" data-pin-do="buttonPin" data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>
        </p>
      </div>
    </footer>