<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>CASSIE | {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Mobile web app to forecast future events with friends: Start forecasting at cassieapp.com">
      <meta name="author" content="CASSIE Innovations, Corp">


      <meta property="og:title" content="CASSIE | Forecast the Future" />
      <meta property="og:description" content="Forecast future events with friends, earning points when predictions become reality." />
      <meta property="og:url" content="http://cassieinnovations.com" />
      <meta property="og:image" href="{{ site.baseurl }}/images/green_logo.png"/>

      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@CassieMobileApp">
      <meta name="twitter:creator" content="@CassieMobileApp">
      <meta name="twitter:title" content="Forecast future events with friends">
      <meta name="twitter:description" content="Cassie is a new web app to predict the outcome of your favorite events: sports, pop culture, politics, and more. Share your forecasts with friends and earn points for correct predictions.">
      <meta name="twitter:image" content="http://cassieinnovations.com/static/images/green_logo.png">

      <link rel="shortcut icon" href="{{site.baseurl}}/images/green-icon.png">

      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css" type="text/css">

      <!-- Custom Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

      <!-- Icons -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

  <body>

    {{ content }}

    <!-- Facebook share button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=895643343826266";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Pinterest button -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>


    {% include footer.html %}

  </body>

</html>
